<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <!-- https://cdnjs.com/libraries/axios -->
    <script src="https://unpkg.com/vue@next"></script>
    <title>REST DR RECORDS</title>
</head>
<body>
    <div id="app">
        <h2>Get All (GET)</h2>
        <button id="getAllButton" v-on:click="getAllRecords"class = "btn btn-primary">Get all</button>
        <br />
        <!-- https://stackoverflow.com/questions/42951967/handling-enter-key-in-vue-js -->

        <ul id="recordslist" v-if="records.length">
            <li v-for="record in records">
                {{record.id}}- {{record.title}} - {{record.artist}} - {{record.duration}} - {{record.publicationYear}} -  
            </li>
        </ul>

        <div v-else>No records</div>
      
    </div>
    
    <script src="index.js"></script>
</body>

</html>